* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 1%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.restrau{
    width: 28%;
}

.restrau-wrap{
    width: 80%; 
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
    float: none;
}

.text-center {
    text-align: center;
}
.food-menu {
    background-color: lightgrey;

}

.food-menu-box {
    width: 48%;
    float: left;
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1%;
    margin-top: 2rem;
}

.img-food-menu {
    width: 20%;
}

.img-order {
    width: 100%;
    border-radius: 1rem;
    float: left;
    margin: 0 20px;
}

.Desc-food-menu {
    margin: 0 10px;


}

.Desc-food-menu .para-formating {
    color: #999b9c;
}

.order-now {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 0.3em 0.3em;
    cursor: pointer;
}

.order-now:hover{
    background-color: rgb(49, 47, 47);
}